<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Liste de priorités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/priority">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ion-item button *ngFor="let priority of (priorities | async)" [routerLink]="['/priority', priority.id]">
        <ion-label>
          {{ priority.ordre }} - {{ priority.titre }}
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>


</ion-content>