<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Liste de priorités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/priority">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item button *ngFor="let priority of (priorities | async)" [routerLink]="['/priority', priority.id]">
      {{ priority.titre }}
    </ion-item>
  </ion-list>


</ion-content>
